@font-face {
  font-family: "Pouttu";
  src: url("../public/pouttu.TTF");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: hsl(174, 41%, 58%);
    --foreground: hsl(180, 5%, 8%);
 
    --muted: hsl(45, 29%, 97%);
    --muted-foreground: hsl(180, 5%, 16%);
 
    --popover: hsl(45, 29%, 97%);
    --popover-foreground: hsl(180, 5%, 8%);
 
    --card: hsl(45, 29%, 97%);
    --card-foreground: hsl(180, 5%, 8%);
 
    --border: hsl(45, 30%, 92%);
    --input: hsl(45, 30%, 92%);
 
    --primary: hsl(45, 29%, 97%);
    --primary-foreground: hsl(180, 5%, 8%);
 
    --secondary: hsl(45, 29%, 97%);
    --secondary-foreground: hsl(180, 5%, 8%);
 
    --accent: hsl(45, 29%, 97%);
    --accent-foreground: hsl(180, 5%, 8%);
 
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(45, 29%, 97%);
 
    --ring: hsl(215, 20.2%, 65.1%);
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: hsl(174, 41%, 58%);
    --foreground: hsl(45, 29%, 97%);
 
    --muted: hsl(180, 5%, 16%);
    --muted-foreground: hsl(45, 30%, 92%);
 
    --popover: hsl(180, 5%, 8%);
    --popover-foreground: hsl(45, 29%, 97%);
 
    --card: hsl(180, 5%, 8%);
    --card-foreground: hsl(45, 29%, 97%);
 
    --border: hsl(180, 5%, 16%);
    --input: hsl(180, 5%, 16%);
 
    --primary: hsl(180, 5%, 8%);
    --primary-foreground: hsl(45, 29%, 97%);
 
    --secondary:hsl(180, 5%, 8%);
    --secondary-foreground: hsl(45, 29%, 97%);
 
    --accent: hsl(180, 5%, 8%);
    --accent-foreground: hsl(45, 29%, 97%);
 
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(45, 29%, 97%);
 
    --ring: hsl(217.2, 32.6%, 17.5%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}